P, div {
    margin: 5px;
}
.block1, .block2 {
    display: inline-block;
    vertical-align: top;
}
.square {
    width: 175px;
    height: 175px;
    border: 1px solid black;
}
.cell_info1 {
    border: 1px dashed green;
}
.cell_info2 {
    border: 1px dashed red;
}
.blue-bg {
    background-color: blue;
}
.opacity-bg {
    opacity: 0.1;
}